html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

html,
body {
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "PingFang SC", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif !important;
	font-size: 100%;
}

body {
	background: #fff;
	overflow-x: hidden;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none !important;
}
a:link,
a:visited {
	color: #333;
	text-decoration: none;
}

img {
	border: none;
}

em {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

.clearfloat:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.clearfloat {
	zoom: 1;
}

.db {
	text-indent: -99999%;
}

html {
	min-height: 100%;
}